.tablecontainer{
    width:100%;
    min-height: 100vh;
}
.tablepaper{
    height: 350px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.tablesub{
    margin-bottom: 160px;
    height: 50px;;
}
.tablebutton{
width: 100%;
}
.tablenumber{
    width: 100%;
}