
.comppaper2 {
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 50px;
}
.feedback1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 95%;
}
.button2{
    padding-top: 20px;
}