
.comppaper1 {
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF9F1;
    margin-left: 200px;
    margin-top: 50px;
}
.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 95%;
}
.button1{
    padding-top: 20px;
}