.regcontainer1{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regpaper1{
    height: 700px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.sig1div1{
    margin-top:20px ;
    display: flex;
    justify-content: center;
    align-items:center;
}
.user1{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items:center;   
}
.email1{
    width:100px;
}
.distselect1{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;   
}
.placeselect1{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center; 
   
}
.proof1{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:20px;
}
.proofbutton1
{
    width: 97%;
}
.photo1{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:20px;
}
.photobutton1
{
    width: 100%;
}
