.regcontainer{
    width:100%;
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regpaper{
    height: 900px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.sig1div{
    margin-top:20px ;
    display: flex;
    justify-content: center;
    align-items:center;
}
.user{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items:center;   
}
.email{
    width:100px;
}
.distselect{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;   
}
.placeselect{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center; 
   
}
.proof{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:20px;
}
.proofbutton
{
    width: 100%;
}
.photo{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:20px;
}
.photobutton
{
    width: 100%;
}
.bio{
    width:100px;
}